/**
Specific styles for the correction output
*/

html, body {
    max-width: 100%;
}

td.xlas-number {
    width: 3%;
}

td.xlas-numbered-text {
    width: 57%;
}

td.xlas-pure-text {
    width: 60%;
}

td.xlas-comments {
    width: 40%;
    font-family: sans-serif;
    font-size: 12px;
}

.xlas-label {
    background-color: grey;
    color:white;
    padding:2px;
    font-family: sans-serif;
    font-size: 8px;
}