/**
Specific styles for the correction output
*/

.xlas-block {
    clear:both;
}

.xlas-comments-left {
    width: 50%;
    float: left;
}

.xlas-comments-right {
    width: 45%;
    float: left;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 5%;
}

.xlas-label {
    background-color: grey;
    color:white;
    padding:2px;
    font-family: sans-serif;
    font-size: 8px;
}