<h1 class="centered">{{#context}}{{description}}{{/context}}</h1>

<table>
    <tr class="wide">
        <td>
            <p class="label centered">Prüfungsnummer:</p>
            <p class="field centered">{{#writer}}{{firstname}} {{lastname}}{{/writer}}</p>
        </td>
        <td>
            <p class="label centered">Aufgabennummer:</p>
            <p class="field centered">{{#assessment}}{{description}}{{/assessment}}</p>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="3"><p class="label">Erstbewertung</p></td>
    </tr>
    <tr class="wide">
        <td>
            <p class="label">Note</p>
            <p class="field centered">{{#corrector1}}{{grade}}{{/corrector1}}</p>
        </td>
        <td>
            <p class="label centered">Punktzahl</p>
            <p class="field centered">{{#corrector1}}{{points}}{{/corrector1}}</p>
        </td>
        <td>
            <p class="label centered">&nbsp;</p>
            <p class="field centered">{{#corrector1}}{{fullname}}{{/corrector1}}</p>
        </td>
    </tr>

    <tr>
        <td colspan="3"><p class="label">Zweitbewertung</p></td>
    </tr>
    <tr class="wide">
        <td>
            <p class="label">Note</p>
            <p class="field centered">{{#corrector2}}{{grade}}{{/corrector2}}</p>
        </td>
        <td>
            <p class="label centered">Punktzahl</p>
            <p class="field centered">{{#corrector2}}{{points}}{{/corrector2}}</p>
        </td>
        <td>
            <p class="label">&nbsp;</p>
            <p class="field centered">{{#corrector2}}{{fullname}}{{/corrector2}}</p>
        </td>
    </tr>

    <tr>
        <td colspan="3"><p class="label">Stichentscheid</p></td>
    </tr>
    <tr class="wide">
        <td>
            <p class="label">Note</p>
            <p class="field centered">{{#corrector3}}{{grade}}{{/corrector3}}</p>
        </td>
        <td>
            <p class="label centered">Punktzahl</p>
            <p class="field centered">{{#corrector3}}{{points}}{{/corrector3}}</p>
        </td>
        <td>
            <p class="label">&nbsp;</p>
            <p class="field centered">{{#corrector3}}{{fullname}}{{/corrector3}}</p>
        </td>
    </tr>
</table>

<table>
    <tr class="wide">
        <td>
            <p class="label">Endnote</p>
            <p class="field centered">{{#result}}{{grade}}{{/result}}</p>
        </td>
        <td>
            <p class="label centered">Endgültige Punktzahl</p>
            <p class="field centered">{{#result}}{{points}}{{/result}}</p>
        </td>
        <td></td>
    </tr>
</table>