h1 {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #555555;
    margin-bottom: 5mm;
}

.label {
    font-size: 10px;
    width: 100%;
    margin_bottom: 1em;
}

.field {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}

.centered {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    table-layout: fixed;
    font-family: sans-serif;
    margin-bottom: 10mm;
}

tr, td {
    vertical-align: top;
}

tr.wide {
    min-height: 20mm;
}

td {
    border: 1px solid black;
    padding: 5px;
}