/**
 * Style of written contents
 */

body {
    font-family: serif;
    font-size: 1em;
    max-width: 60em;
    line-height: 150%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
}

ol,
ul {
    margin-left: 10px;
    margin-bottom: 20px;
}

li {
    margin-left: 20px;
    margin-bottom: 5px;
    min-height: 1.5em;
}

p,
pre
{
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
    text-align: justify;
}

pre {
    /* dompdf needs a fixed value here */
    max-width: 150mm;
    overflow-x: hidden;
}

.sr-only {
    display: none;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
}

th, td {
    border: 1px solid gray;
    min-width: 1em;
    min-height: 1em;
}

.long-essay-content-table {
    border: 0;
    border-spacing: 10px;
    width: 100%;
}

.long-essay-counter-column {
    text-align:left;
    width: 5%;
}

.long-essay-content-column {
    width: 95%;
}

.long-essay-content-row {
    vertical-align:top;
}

.long-essay-paragraph-number {
    font-family:sans-serif;
    font-size:0.6em;
    font-weight:normal;
}

hr {
    page-break-before: always;
    height: 0;
    width: 0;
    border: 0;
    margin: 0;
}