/**
 * Style of written contents
 */

body {
    font-family: serif;
    font-size: 10pt;
    max-width: 60em;
    line-height: 150%;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
}

ol,
ul {
    margin-left: 10px;
    margin-bottom: 20px;
}

li {
    margin-left: 20px;
    margin-bottom: 5px;
    min-height: 1.5em;
}

p,
pre
{
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
    text-align: justify;
}

pre {
    max-width: 150mm;               /* dompdf needs a fixed value here */
    white-space: pre-wrap;          /* keep line breaks and break if needed */
    word-wrap: break-word;          /* legacy setting (older browsers) */
    overflow-wrap: break-word;      /* modern variant of word-wrap */
}

.sr-only {
    display: none;
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
}

th, td {
    border: 1px solid gray;
    min-width: 1em;
    min-height: 1em;
    padding: 2mm;
}

hr {
    page-break-before: always;
    height: 0;
    width: 0;
    border: 0;
    margin: 0;
}

span {
    margin: 0;
    padding: 0;
    border: 0;
}
