/**
 * Style of written contents
 */

body {
    font-family: serif;
    font-size: 1em;
    max-width: 60em;
    line-height: 150%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
}

ol,
ul {
    margin-left: 10px;
    margin-bottom: 20px;
}

li {
    margin-left: 20px;
    margin-bottom: 5px;
    min-height: 1.5em;
}

p,
pre
{
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
    text-align: justify;
}

.sr-only {
    display: none;
}

.long-essay-content-table {
    border: 0;
    border-spacing: 10px;
}

.long-essay-counter-column {
    text-align:left;
}
