/**
 * Style of written contents
 *
 * This file should be identical in the ILIAS plugin, the assessment service and all web apps
 *
 * All styles are defined for a common top element with the class 'xlas-content'
 * The top element can be either the <body> in TinyMCE or a surrounding <div> for content display
 *
 * Font size is set in rem for the top element and in em for sub elements
 *
 * The top element can have an additional class for the used headline scheme:
 * - 'headlines-single' has the same size and no prefix for all headlines
 * - 'headlines-three' has three different sizes for h1, h2 and h3 and no prefix for all headlines
 * - 'headlines-numeric' has the same size a prefix like '1.1.1.1.1.1' for all headlines
 * - 'headlines-edutiek' has the same size and a prefix line 'A.', 'I.', '1.', 'a.', 'aa.', '(1)' for the headlines
 */

.xlas-content {
    font-family: serif;
    font-size: 1rem;
    line-height: 150%;
    text-align: justify;
}

.xlas-content p,
.xlas-content pre {
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
    text-align: justify;
}

.xlas-content pre {
    max-width: 80em;                /* dompdf needs a fixed value */
    white-space: pre-wrap;          /* keep line breaks and break if needed */
    word-wrap: break-word;          /* legacy setting (older browsers) */
    overflow-wrap: break-word;      /* modern variant of word-wrap */
}

.xlas-content ol,
.xlas-content ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.xlas-content li {
    margin: 0;
    margin-left: 40px;
    min-height: 1.5em;
}

.xlas-content li + li {
    margin-top: 10px;
}

.xlas-content li > ol,
.xlas-content li > ul {
    margin-top: 10px;
    margin-bottom: 0;
}

.xlas-content table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px;
}

.xlas-content tr {
    vertical-align: top;
}

.xlas-content td,
.xlas-content th {
    border: 1px solid gray;
    min-width: 1em;
    min-height: 1em;
    padding: 5px;
}

/**
 * Page break in printing
 */
.xlas-content hr {
    page-break-before: always;
    height: 0;
    width: 0;
    border: 0;
    margin: 0;
}

/**
 * Page break in tiny
 */
.xlas-content .mce-pagebreak {
    width: calc(100% + 40px);
    height: 1px;
    height: 20px;
    background-color: #eeeeee;
    border-top: 1px solid #ccc;
    margin-left: -20px;
}

/**
 * Headlines in general
 */

.xlas-content {
    counter-reset: xlas-h1 xlas-h2 xlas-h3 xlas-h4 xlas-h5 xlas-h6;
}

.xlas-content h1,
.xlas-content h2,
.xlas-content h3,
.xlas-content h4,
.xlas-content h5,
.xlas-content h6 {
    font-family: serif;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 1.5em;
}

.xlas-content h1 {
    counter-increment: xlas-h1;
    counter-reset: xlas-h2 xlas-h3 xlas-h4 xlas-h5 xlas-h6;
}

.xlas-content h2 {
    counter-increment: xlas-h2;
    counter-reset: xlas-h3 xlas-h4 xlas-h5 xlas-h6;
}

.xlas-content h3 {
    counter-increment: xlas-h3;
    counter-reset: xlas-h4 xlas-h5 xlas-h6;
}

.xlas-content h4 {
    counter-increment: xlas-h4;
    counter-reset: xlas-h5 xlas-h6;
}

.xlas-content h5 {
    counter-increment: xlas-h5;
    counter-reset: xlas-h6;
}

.xlas-content h6 {
    counter-increment: xlas-h6;
}

/**
 * Three level headline style
 */

.xlas-content.headlines-three h1 {
    font-size: 1.3em !important;
}

.xlas-content.headlines-three h2 {
    font-size: 1.15em !important;
}

.xlas-content.headlines-three h3 {
    font-size: 1.0em !important;
}

/**
 * Numeric headline style
 */

.xlas-content.headlines-numeric h1::before {
    content: counter(xlas-h1, decimal) " ";
}

.xlas-content.headlines-numeric h2::before {
    content: counter(xlas-h1, decimal) "." counter(xlas-h2, decimal) " ";
}

.xlas-content.headlines-numeric h3::before {
    content: counter(xlas-h1, decimal) "." counter(xlas-h2, decimal) "." counter(xlas-h3, decimal) " ";
}

.xlas-content.headlines-numeric h4::before {
    content: counter(xlas-h1, decimal) "." counter(xlas-h2, decimal) "." counter(xlas-h3, decimal) "." counter(xlas-h4, decimal) " ";
}

.xlas-content.headlines-numeric h5::before {
    content: counter(xlas-h1, decimal) "." counter(xlas-h2, decimal) "." counter(xlas-h3, decimal) "." counter(xlas-h4, decimal) "." counter(xlas-h5, decimal) " ";
}

.xlas-content.headlines-numeric h6::before {
    content: counter(xlas-h1, decimal) "." counter(xlas-h2, decimal) "." counter(xlas-h3, decimal) "." counter(xlas-h4, decimal) "." counter(xlas-h5, decimal) "." counter(xlas-h6, decimal) " ";
}

/**
 * Edutiek headline style
 */

.xlas-content.headlines-edutiek h1::before {
    content: counter(xlas-h1, upper-latin) ". ";
}

.xlas-content.headlines-edutiek h2::before {
    content: counter(xlas-h2, upper-roman) ". ";
}

.xlas-content.headlines-edutiek h3::before {
    content: counter(xlas-h3, decimal) ". ";
}

.xlas-content.headlines-edutiek h4::before {
    content: counter(xlas-h4, lower-latin) ". ";
}

.xlas-content.headlines-edutiek h5::before {
    content: counter(xlas-h5, lower-latin) counter(xlas-h5, lower-latin) ". ";
}

.xlas-content.headlines-edutiek h6::before {
    content: "(" counter(xlas-h6, decimal) ") ";
}
