/**
Specific styles for the correction output
*/

.xlas-page-break {
    page-break-before: always;
}

.xlas-part-title {
    font-family: sans-serif;
    font-size: 1.4rem;
    color: #555555;
    margin-bottom: 1em;
}

.xlas-correction {
    font-family: sans-serif;
    font-size: 1rem;
}

.xlas-grading {
    font-family: sans-serif;
    font-size: 1rem;
    border: 1px solid gray;
    margin-top: 1rem;
    padding-left: 5mm;
    padding-right: 5mm;
}

.xlas-correction h2 {
    font-size: 1rem;
    font-weight: normal;
}

.xlas-correction table {
    font-size: 0.8rem;
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px;
}

.xlas-correction tr {
    vertical-align: top;
}

.xlas-correction td,
.xlas-correction th {
    border: 1px solid gray;
    min-width: 1em;
    min-height: 1em;
    padding: 5px;
}


.xlas-block {
    clear:both;
}

.xlas-image {
    height: 100%;
    width: 100%;
}

.xlas-comments-left {
    width: 50%;
    float: left;
}

.xlas-comments-right {
    width: 45%;
    float: left;
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 5%;
}

.xlas-label {
    background-color: grey;
    color:white;
    padding:2px;
    font-family: sans-serif;
    font-size: 8px;
}