/**
 * Three level headline style of written contents
 * (font size in em needed for zoom on ReviewContentScreen)
 */

.xlas-content.headlines-three h1 {
    font-size: 1.3em !important;
}

.xlas-content.headlines-three h2 {
    font-size: 1.15em !important;
}

.xlas-content.headlines-three h3 {
    font-size: 1.0em !important;
}

/**
 * Numeric headline style of written contents
 */

.xlas-content.headlines-numeric h1::before {
    content: counter(h1, decimal) " ";
}

.xlas-content.headlines-numeric h2::before {
    content: counter(h1, decimal) "." counter(h2, decimal) " ";
}

.xlas-content.headlines-numeric h3::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) " ";
}

.xlas-content.headlines-numeric h4::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) " ";
}

.xlas-content.headlines-numeric h5::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) " ";
}

.xlas-content.headlines-numeric h6::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) " ";
}

/**
 * Edutiek headline style of written contents
 */

.xlas-content.headlines-edutiek h1::before {
    content: counter(h1, upper-latin) ". ";
}

.xlas-content.headlines-edutiek h2::before {
    content: counter(h2, upper-roman) ". ";
}

.xlas-content.headlines-edutiek h3::before {
    content: counter(h3, decimal) ". ";
}

.xlas-content.headlines-edutiek h4::before {
    content: counter(h4, lower-latin) ". ";
}

.xlas-content.headlines-edutiek h5::before {
    content: counter(h5, lower-latin) counter(h5, lower-latin) ". ";
}

.xlas-content.headlines-edutiek h6::before {
    content: "(" counter(h6, decimal) ") ";
}
