/**
 * Styles for adding paragraph numbers
 */

.xlas-block {
    margin-left: 10mm;
}

.xlas-counter {
    font-family:sans-serif;
    font-size:0.6em;
    font-weight:normal;
    margin-left: -10mm;
    float: left;
}

.sr-only {
    display: none;
}