/**
Specific styles for the correction output
*/

.xlas-page-break {
    page-break-before: always;
}

.xlas-part-title {
    font-family: sans-serif;
    font-size: 1.4rem;
    color: #555555;
    margin-bottom: 1em;
}

.xlas-block {
    clear:both;
}

.xlas-image {
    height: 100%;
    width: 100%;
}

.xlas-comments-left {
    width: 50%;
    float: left;
}

.xlas-comments-right {
    width: 45%;
    float: left;
    font-family: sans-serif;
    font-size: 10px;
    margin-left: 5%;
}

.xlas-label {
    background-color: grey;
    color:white;
    padding:2px;
    font-family: sans-serif;
    font-size: 8px;
}