<style>
    .xlas-page {
        page-break-after: always;
    }

    .xlas_image {
        height: "210mm;"
    }

    .xlas-comments-left {
        width: 50%;
        float: left;
    }

    .xlas-comments-right {
        width: 45%;
        float: left;
        font-family: sans-serif;
        font-size: 12px;
        margin-left: 5%;
    }
</style>

{{#page}}
<div class="xlas-page">
    <div class="xlas-comments-left">
        <img class="xlas-image" src="{{src}}" />
    </div>
    <div class="xlas-comments-right">
        {{{comments}}}
    </div>
</div>
{{/page}}
